.top-color {
    background-color: #1f2937;
}




.header {
    display: flex;
    flex-wrap: wrap;
    
}

.item1 {

    margin-left: 20%;
    font-weight: 25px;
    color: #f9faf8;
    font-size: xx-large;

}

.container {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 20%;
    gap: 50px;
    font-weight: 18px;
    color: #e5e7eb;
    font-size: larger;
}